@using RoseliaBlog.Models
@using RoseliaBlog.RoseliaCore
@model RoseliaBlog.Views.Pages.Skeleton

@{
  var title = Config.Config.Title;
  var primaryTheme = Config.Config.Theme.Primary;
}

<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="referrer" content="no-referrer">
    <link rel="shortcut icon" href="/favicon.ico">
    <meta name="apple-mobile-web-app-title" content="@title">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="theme-color" content="@primaryTheme">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    @foreach (var css in CompiledAssetsManager.Assets.StyleSheets)
    {
      <link href="@css" rel="stylesheet">
    }
    @if (Model.HeaderContent is not null)
    {
      @Model.HeaderContent
    }
    <title>@title</title>
    @if (Model.BodyContent is null)
    {
      <style>
        #re-birth-day {
          position: fixed;
          left: 0;
          top: 0;
          display: flex;
          height: 100vh;
          width: 100vw;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          background: #f0f0f0;
          animation: breathe 2000ms ease-in-out infinite alternate;
        }
    
        #re-birth-day > img {
          max-width: 15%;
        }
    
        #re-birth-day > p {
          font-size: 24px;
          color: #bbb;
          margin-top: 16px;
        }
        @@keyframes breathe {
          0% {
            opacity: 0;
          }
    
          100% {
            opacity: 1;
          }
        }
      </style>
    }
  </head>
  <body>
  <div id="black-shout">
    @if (Model.BodyContent is null)
    {
      <div id="re-birth-day">
        <img src="/assets/logo.png">
        <p>@title</p>
      </div>
    }
    else
    {
      @Model.BodyContent
    }
    
  </div>
  @foreach (var js in CompiledAssetsManager.Assets.JavaScripts)
  {
    <script src="@js"></script>
  }
  </body>
</html>
